// classes for color
.white-c {
    color: $text-white;
}

.lt-blue {
    color: $bg-ltblue;
}

.silver-c {
    color: $bg-silver;
}

.lt-lime {
    color: $bg-ltlime;
}

.yellow-c {
    color: $bg-yellow;
}

.text-primary {
    color: $text-primary;
}

.text-secondary {
    color: $text-secondary;
}