.link-primary {
    color: $text-primary;
}

.link-secondary {
    color: $text-secondary;
}

.link-success {
    color: $text-success;
}

.link-danger {
    color: $text-danger;
}

.link-warning {
    color: $text-warning;
}

.link-dark {
    color: #000;
}