#borders {
    padding-top: 30px;

    .wrapper {
        h1 {
            font-family: $font-family;
            font-size: 32px;
            font-weight: 600;
        }

        p {
            font-family: $font-family;
            font-size: 26px;
            font-weight: 500;
        }

        .wrapper_cards {
            .box {
                width: 100px;
                height: 100px;
                background-color: #000000;
            }
        }

    }
}